@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Dantastic<br />
    27 East Pilton Farm Wynd<br />
    Edinburgh, <br />
    UK, <br />
    EH5 2GJ<br />
    @*<abbr title="Phone">P:</abbr>
    425.555.0100*@
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:daniel@MyVirtualClinic.net">daniel@MyVirtualClinic.net</a><br />
    <strong>Marketing:</strong> <a href="mailto:daniel@MyVirtualClinic.net">daniel@MyVirtualClinic.net</a>
</address>