@model MyVirtualClinicWeb.Models.ImageModel

@{
    ViewBag.Title = "Index";
}

<h2>Create</h2>

<div class="row">
    <div class="col-md-6 col-lg-offset-3">
        <span>Here is my message: </span> @ViewBag.Notes

    
    </div>
</div>